<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="advertiser_testcases.CreativeHub_Images"/>
      <class name="advertiser_testcases.Login"/>
      <class name="advertiser_testcases.Add_Campaign"/>
      <class name="advertiser_testcases.Edit_Audience"/>
      <class name="advertiser_testcases.Delete_Audience"/>
      <class name="advertiser_testcases.Logout"/>
      <class name="advertiser_testcases.Audience"/>
      <class name="advertiser_testcases.Edit_Profile"/>
      <class name="advertiser_testcases.Audience_variations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
